# Core dependencies for grasp simulation and classification project

# PyBullet for physics simulation
pybullet>=3.2.5

# numpy
numpy>=1.24.0

# pandas
pandas>=2.0.0

# Machine Learning - PyTorch (this is without cuda but you can use if you have)
torch>=2.0.0
torchvision>=0.15.0

# Scikit-learn
scikit-learn>=1.3.0


